@font-face{font-family:Lato;src:url(fonts/Lato-Black.ttf) format("truetype");font-weight:400;font-style:normal}
:root{--textcolor:#3b3b3b;--main-color:#e1222e;--main-font:'Lato', sans-serif;}


body{font-family: var(--main-font);color: var(--textcolor)}
.bg{background: url(../imgs/bg.png);background-size: cover;min-height: 100vh;width: 100%;/* background-position: -177px 0; */}
img{max-width: 100%;}
.time .title, .congrats .title, .slogan,  .date .value{
    color: var(--main-color);
}

.content {max-width: 957px;padding-left: 40px;}

.congrats .title {
    font-style:  italic;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.congrats {
    width: 446px;
    max-width: 100%;
    margin-top: -14px;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 44px;
}

.check {
    background: #fff;
}

.check .head {
    background: #454545;
    color: #fff;
    padding: 4px 15px;
    height: 28px;
    font-style: italic;
}

.logo {
    width: 230px;
}

.form input {
    border: 0;
    border-bottom: 1.5px solid var(--main-color);
    width: 641px;
    max-width: 70%;
    height: 20px;
    display: inline-block;
    margin-top: -10px;
    font-size: 15px;
}
.remaining .slot {
    background: #ed2924;
    color: #fff;
    padding: 0;
    -ms-transform: skewX(10deg); /* IE 9 */
    -webkit-transform: skewX(10deg); /* Safari */
    transform: skewX(10deg);
    display: inline-block;
    width: 33px;
    margin: 2px 0px;
    text-align: center;
    padding-top: 7px;
    margin-right: -1px;
    height: 33px;
}

.remaining .slot span {
    -ms-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    display: inline-block;
}
.tickets {
    float: right;
    margin-right: 34px;
    margin-top: 5px;
}

.check-body {
    padding: 6px 14px;
    box-shadow: 0px 3px 8px 1px #9e9e9e;
    padding-bottom: 28px;
}

.form label {
    font-size: 15px;
    width: 100px;
    text-align: right;
    padding-right: 9px;
    max-width: 30%;
    height: 20px;
    display: block;
    float: left;
    margin-top: 4px;
}

.field-note {
    position: absolute;
    width: 301px;
    right: 91px;
    bottom: -16px;
    text-align: right;
    font-size: 10px;
}

.field-cont {
    position: relative;
    float: left;
    width: 100%;
    height: 18px;
    margin: 15px 0;
}
header {
    padding: 21px;
    height: 0;
    padding-bottom: 0;
}

.time .title {
    font-size: 15px;
    font-style: italic;
}

.time {
    padding-left: 23px;
    width: 50%;
    float: left;
}

.remaining {
    padding-left: 4px;
}

.remaining .slot:nth-of-type(2) {
    margin-right: 0;
}
.tickets .number {
    font-size: 24px;
    font-weight: bold;
    background: #f6f5f0;
    text-align: center;
    width: 69px;
    height: 37px;
    line-height: 37px;
    color: #ed2721;
}

.tickets .title {
    width: 89px;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    line-height: 21px;
    text-align: center;
    padding-right: 25px;
}

.congrats p strong {
    display: block;
    font-weight: bold;
    word-spacing: 1px;
    /* font-size: 15px; */
}
.check .note {
    text-align: right;
    font-style: normal;
    padding-right: 5px;
    margin-right: -10px;
}
.form {
    margin-top: 16px;
    float: left;
}

.slogan {
    float: left;
    margin-top: 30px;
    font-size: 15px;
    font-style: italic;
    margin-left: 30px;
}
.price {
    font-size: 23px;
    font-weight: bolder;
    font-style: italic;
    margin-top: 24px;
    height: 40px;
    margin-left: 59px;
    text-align: center;
    width: 190px;
    line-height: 38px;
    background: #cdcdcd;
}
.date {
    margin-top: 64px;
    font-size: 19px;
    margin-left: -28px;
    margin-bottom: 39px;
    float: left;
}

.date .title {
    float: left;
}

.date .value {
    margin-left: 10px;
    float: left;
    font-weight: bolder;
    font-size: 23px;
    width: 190px;
    border-bottom: 1.5px solid;
    margin-top: -13px;
    text-align: center;
}

button.primary-btn.btn {
    float: left;
    height: 48px;
    background: var(--main-color);
    color: #fff;
    font-size: 17px;
    margin-left: 8px;
    font-style: italic;
    width: 241px;
    border-radius: 0;
    margin-bottom: 34px;
    line-height: 35px;
}

.sig {
    float: left;
    margin-left: 109px;
    width: 160px;
}
button.primary-btn.btn:after {
    content: "";
    width: 245px;
    display: block;
    border: 1px solid #4e4c4d;
    height: 51px;
    margin-left: -12px;
    border-right-width: 2px;
    border-top: 0;
    border-left: 0;
    margin-top: -38px;
    border-bottom-width: 4px;
}
.sig:after {
    content: "";
    display: block;
    height: 1px;
    width: 113px;
    background: #3b3b3b;
    margin-left: 27px;
    margin-top: 4px;
}
.form input:focus {
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fd131300;
}
::-moz-placeholder { /* Firefox 19+ */
  color: transparent;}
:-ms-input-placeholder { /* IE 10+ */
  color: transparent;}
:-moz-placeholder { /* Firefox 18- */
  color: transparent;}
@media screen and (min-width:1366px){
    .congrats{/* width:300px */}
    .check{/* margin-top: 100px; */}
}
@media screen and (max-width: 1024px){
    .check{/* margin-top: 130px; */}
    .bg{
    background-position: 83% 0;
}
}
@media screen and (max-width:1023px){

    .note span {
    color: var(--main-color);
    position: absolute;
    left: -10px;
    top: 0;
    font-size: 22px;

}
    .bg{
    background: url(../imgs/mobilebg.png);
    background-size: cover;
    background-position: center -86px;
}
    .tickets {
    margin-right: 0;
    /* margin-top: -4px; */
    width: 100px;
}

.tickets .number {
    margin-right: 6px;
    float: right;
    font-size: 19px;
    background: #dfdfdf;
    width: 55px;
    height: 27px;
    line-height: 25px;
}

.tickets .title {
    float: right;
    padding-right: 0;
    padding-left: 19px;
    font-size: 14px;
    line-height: 17px;
}

.tickets {}

.time {
    padding-left: 0;
}

.remaining {
    padding-left: 10px;
}

.logo {
    width: 183px;
    padding-left: 11px;
    margin-top: 4px;
}

.slogan {
    display: none;
}

button.primary-btn.btn:after {
    margin-top: -41px;
    margin-left: -12px;
    width: 242px;
}
    header {
        float: left;
        width: calc(100% + 30px);
        height: 89px;
        background: white;
        margin-left: -15px!important;
    }
    
    .congrats .title {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        float: left;
        font-size: 23px;
        text-transform: uppercase;
    }
    
    .congrats {
        width: 100%;
    }
    
    .congrats p {
        background: rgba(255,255,255,.8);
        float: left;
        text-align: center;
        padding: 10px 5px;
        font-size: 17px;
        line-height: 23px;
        margin-bottom: 67px;
        width: 100%;
    }
    
    .congrats p strong {
        /* font-size: 17px; */
        padding: 0 10px;
    }
    
    .head p {
        display: none;
    }
    
    .form input {
        max-width: 100%;
        margin-top: -11px;
        display: block;
    }

.form input {
}
    
    .form {
        width: 100%;
        margin-top: 0px;
    }
    
    .date .title {
        width: 38px;
        line-height: 20px;
    }
    
    .date .value {
        width: 45px;
        margin-top: 10px;
        font-size: 17px;
        margin-left: 0px;
    }
    
    .date {
        float: right;
        margin-top: 45px;
        font-size: 16px;
        margin-left: 0px;
        margin-right: 14px;
    }
    
    .sig {
        float: right;
        width: 120px;
        position: absolute;
        bottom: 60px;
        right: 0;
    }
    
    .check-body {
        /* position: relative; */
    }
    
    .price {
        position: absolute;
        top: -1px;
        margin: 0;
        background: transparent;
        color: #fff;
        width: 100%;
        left: 0;
        font-size: 26px;
    }
    
    .check-body>.row>div {
        position: unset;
    }
    
    .check .head {
        height: 40px;
    }
    
    .check .note {
        position: absolute;
        right: 34px;
        top: 142px;
        background: #dcdcdc;
        color: var(--textcolor);
        height: 67px;
        width: 74px;
        text-align: center;
        font-size: 13px;
        line-height: 17px;
        padding-top: 8px;
        text-align: left;
        padding-left: 11px;
    }
    
    .check {
        width: 100%;
    }
    
    button.primary-btn.btn {
        position: absolute;
        bottom: -105px;
        left: 50%;
        margin-left: -120px;
        border: 2px solid;
    }
    
    .content {
        padding-left: 20px;
        padding-right: 20px;
    }
    .sig:after{
    width: 87px;
    margin-left: 23px;
}
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #444444;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #3b3b3b;}
:-ms-input-placeholder { /* IE 10+ */
  color: #3b3b3b;}
:-moz-placeholder { /* Firefox 18- */
  color: #3b3b3b;}
}
@media screen and (max-width:1023px){


    .form label {
    text-align: left;
    font-size: 15px;
    max-width: 100%;
    height: 0px;
    visibility: hidden;
}



.field-cont {
    margin: 11px 12px;
    margin-bottom: 15px;
}

.field-note {
    bottom: -28px;
    right: 4px;
    font-size: 12px;
}

.sig {
    bottom: 34px;
    right: 28px;
}

}
@media screen and (max-width:767px){
    .field-cont{
    /* margin: 20px 12px; */
}
     .content{padding:0px}
     .bg{
    background-size: cover;
    background-position: center 40px;
    padding-bottom: 170px;
    }
    .congrats p{font-size: 14px;}
    .date{
    margin-left: -30px;
}
}
@media screen and (min-height:1024px) and (orientation:landscape){
    .bg{background: url(../imgs/test3.png);background-size: cover;min-height: 100vh;width: 100%;background-position: -190px 0;}

}
@media screen and (min-height:1024px) and (min-width:1024px) and (orientation:portrait){
    .bg{background: url(../imgs/test3.png);background-size: cover;min-height: 100vh;width: 100%;background-position: -840px 0;}

}
@media screen and (min-width:1400px) and (min-height:600px) and (orientation:landscape){
        .bg{background: url(../imgs/test.png);background-size: cover;min-height: 100vh;width: 100%;}

}
@media screen and (min-width:1900px)and (orientation:landscape){
    
}