:root{--textcolor:#3b3b3b;--main-color:#e1222e;--main-font:'Lato', sans-serif;}
body{font-family: var(--main-font);color: var(--textcolor)}
.bg{background: url(../imgs/bg.png);background-size: cover;float: left;min-height: 100vh;width: 100%;background-position: center;}
img{max-width: 100%;}
.time .title, .congrats .title, .slogan,  .date .value{
    color: var(--main-color);
}

.content {max-width: 957px;padding-left: 40px;}

.congrats .title {
    font-style:  italic;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.congrats {
    width: 446px;
    max-width: 100%;
    margin-top: -14px;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 44px;
}

.check {
    background: #fff;
}

.check .head {
    background: #454545;
    color: #fff;
    padding: 4px 15px;
    height: 28px;
    font-style: italic;
}

.logo {
    width: 230px;
}

.form input {
    border: 0;
    border-bottom: 1.5px solid var(--main-color);
    width: 641px;
    max-width: 70%;
    height: 11px;
}
.remaining .slot {
    background: #ed2924;
    color: #fff;
    padding: 0;
    -ms-transform: skewX(10deg); /* IE 9 */
    -webkit-transform: skewX(10deg); /* Safari */
    transform: skewX(10deg);
    display: inline-block;
    width: 33px;
    margin: 2px 0px;
    text-align: center;
    padding-top: 7px;
    margin-right: -1px;
    height: 33px;
}

.remaining .slot span {
    -ms-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    display: inline-block;
}
.tickets {
    float: right;
    margin-right: 34px;
    margin-top: 5px;
}

.check-body {
    padding: 6px 14px;
    box-shadow: 0px 3px 8px 1px #9e9e9e;
    padding-bottom: 28px;
}

.form label {
    font-size: 15px;
    width: 100px;
    text-align: right;
    padding-right: 9px;
    max-width: 30%;
}

.field-note {
    position: absolute;
    width: 301px;
    right: 91px;
    bottom: -16px;
    text-align: right;
    font-size: 10px;
}

.field-cont {
    position: relative;
    float: left;
    width: 100%;
    height: 18px;
    margin: 15px 0;
}
header {
    padding: 21px;
    height: 0;
    padding-bottom: 0;
}

.time .title {
    font-size: 15px;
    font-style: italic;
}

.time {
    padding-left: 23px;
    width: 50%;
    float: left;
}

.remaining {
    padding-left: 4px;
}

.remaining .slot:nth-of-type(2) {
    margin-right: 0;
}
.tickets .number {
    font-size: 24px;
    font-weight: bold;
    background: #f6f5f0;
    text-align: center;
    width: 69px;
    height: 37px;
    line-height: 37px;
    color: #ed2721;
}

.tickets .title {
    width: 89px;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    line-height: 21px;
    text-align: center;
    padding-right: 25px;
}

.congrats p strong {
    display: block;
    font-weight: bold;
    word-spacing: 1px;
    font-size: 15px;
}
.check .note {
    text-align: right;
    font-style: normal;
    padding-right: 5px;
    margin-right: -10px;
}
.form {
    margin-top: 16px;
    float: left;
}

.slogan {
    float: left;
    margin-top: 30px;
    font-size: 15px;
    font-style: italic;
    margin-left: 30px;
}
.price {
    font-size: 23px;
    font-weight: bolder;
    font-style: italic;
    margin-top: 24px;
    height: 40px;
    margin-left: 59px;
    text-align: center;
    width: 190px;
    line-height: 38px;
    background: #cdcdcd;
}
.date {
    margin-top: 64px;
    font-size: 19px;
    margin-left: -28px;
    margin-bottom: 39px;
    float: left;
}

.date .title {
    float: left;
}

.date .value {
    margin-left: 10px;
    float: left;
    font-weight: bolder;
    font-size: 23px;
    width: 190px;
    border-bottom: 1.5px solid;
    margin-top: -13px;
    text-align: center;
}

button.primary-btn.btn {
    float: left;
    height: 48px;
    background: var(--main-color);
    color: #fff;
    font-size: 17px;
    margin-left: 8px;
    font-style: italic;
    width: 241px;
    border-radius: 0;
    margin-bottom: 34px;
    line-height: 35px;
}

.sig {
    float: left;
    margin-left: 109px;
    width: 160px;
}
button.primary-btn.btn:after {
    content: "";
    width: 245px;
    display: block;
    border: 1px solid #4e4c4d;
    height: 51px;
    margin-left: -12px;
    border-right-width: 2px;
    border-top: 0;
    border-left: 0;
    margin-top: -38px;
    border-bottom-width: 4px;
}
.sig:after {
    content: "";
    display: block;
    height: 1px;
    width: 113px;
    background: #3b3b3b;
    margin-left: 27px;
    margin-top: 4px;
}